section {
  position: relative;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: $site-width;

  @include respond-to('medium') {
    padding-right: 0;
    padding-left: 0;
  }

  &.padding {
    padding: $xxl $md;
  }

}

.auto-grid {
  display: block;

  @include respond-to('large') {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 1.5em;
  }
}

.v-align-center {
  align-items: center;
}

.v-align-top {
  align-items: top;
}

@include respond-to('medium') {
  .row-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

