html {
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 320px;
  background-color: $background-color;
  font-size: 16px;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: $render-mode;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: $family-primary;
}

code,
pre {
  font-family: $family-monospace;

  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

body {
  background-color: $body-colour;
  color: $text;
  font-size: $md;
}