// Global styles start

body {
  background: $body-colour;
  color: $text;
  font-family: $family-primary;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-rendering: optimizeSpeed;
  &.noScroll {
    overflow: hidden;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  color: $doddle-lime-500;
  text-decoration-skip-ink: auto;

  &:hover {
    color: $doddle-lime-500;
    @include transition;
  }
}

:focus {
  outline: 2px dashed $link;
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  line-height: $leading-flat;
}

::selection {
  background: $doddle-lime-500;
  color: $black;
}
