// sm-1			=>	8px
// sm-2			=>	12px
// sm-3			=>	14px
// base			=>	16px
// normal		=>	18px
// medium		=>	20px
// md-1			=>	22px
// md-2			=>	24px
// md-3			=>	26px
// md-4			=>	28px
// lg-1			=>	30px
// lg-2			=>	36px
// lg-3			=>	42px
// lg-4			=>	48px
// xlg-1		=>	60px
// xlg-2		=>	72px
// xlg-3		=>	84px
// xlg-4		=>	96px

/* Padding */
.p-0
	padding: 0

.p-sm-1
	padding: $sm-1

.p-sm-2
	padding: $sm-2

.p-sm-3
	padding: $sm-3

.p-base
	padding: $base

.p-normal
	padding: $normal

.p-medium
	padding: $medium

.p-md-1
	padding: $md-1

.p-md-2
	padding: $md-2

.p-md-3
	padding: $md-3

.p-md-4
	padding: $md-4

.p-lg-1
	padding: $lg-1

.p-lg-2
	padding: $lg-2

.p-lg-3
	padding: $lg-3

.p-lg-4
	padding: $lg-4

.p-xlg-1
	padding: $xlg-1

.p-xlg-2
	padding: $xlg-2

.p-xlg-3
	padding: $xlg-3

.p-xlg-4
	padding: $xlg-4

/* Padding X - Top + Bottom */
.px-0
	padding-top: 0
  padding-bottom: 0

.px-sm-1
	padding-top: $sm-1
  padding-bottom: $sm-1

.px-sm-2
	padding-top: $sm-2
  padding-bottom: $sm-2

.px-sm-3
	padding-top: $sm-3
  padding-bottom: $sm-3

.px-base
	padding-top: $base
  padding-bottom: $base

.px-normal
	padding-top: $normal
  padding-bottom: $normal

.px-medium
	padding-top: $medium
  padding-bottom: $medium

.px-md-1
	padding-top: $md-1
  padding-bottom: $md-1

.px-md-2
	padding-top: $md-2
  padding-bottom: $md-2

.px-md-3
	padding-top: $md-3
  padding-bottom: $md-3

.px-md-4
	padding-top: $md-4
  padding-bottom: $md-4

.px-lg-1
	padding-top: $lg-1
  padding-bottom: $lg-1

.px-lg-2
	padding-top: $lg-2
  padding-bottom: $lg-2

.px-lg-3
	padding-top: $lg-3
  padding-bottom: $lg-3

.px-lg-4
	padding-top: $lg-4
  padding-bottom: $lg-4

.px-xlg-1
	padding-top: $xlg-1
  padding-bottom: $xlg-1

.px-xlg-2
	padding-top: $xlg-2
  padding-bottom: $xlg-2

.px-xlg-3
	padding-top: $xlg-3
  padding-bottom: $xlg-3

.px-xlg-4
	padding-top: $xlg-4
  padding-bottom: $xlg-4

/* Padding Y - Left + Right */
.py-0
  padding-right: 0
	padding-left: 0

.py-sm-1
  padding-right: $sm-1
	padding-left: $sm-1

.py-sm-2
  padding-right: $sm-2
	padding-left: $sm-2

.py-sm-3
  padding-right: $sm-3
	padding-left: $sm-3

.py-base
  padding-right: $base
	padding-left: $base

.py-normal
  padding-right: $normal
	padding-left: $normal

.py-medium
  padding-right: $medium
	padding-left: $medium

.py-md-1
  padding-right: $md-1
	padding-left: $md-1

.py-md-2
  padding-right: $md-2
	padding-left: $md-2

.py-md-3
  padding-right: $md-3
	padding-left: $md-3

.py-md-4
  padding-right: $md-4
	padding-left: $md-4

.py-lg-1
  padding-right: $lg-1
	padding-left: $lg-1

.py-lg-2
  padding-right: $lg-2
	padding-left: $lg-2

.py-lg-3
  padding-right: $lg-3
	padding-left: $lg-3

.py-lg-4
  padding-right: $lg-4
	padding-left: $lg-4

.py-xlg-1
  padding-right: $xlg-1
	padding-left: $xlg-1

.py-xlg-2
  padding-right: $xlg-2
	padding-left: $xlg-2

.py-xlg-3
  padding-right: $xlg-3
	padding-left: $xlg-3

.py-xlg-4
  padding-right: $xlg-4
	padding-left: $xlg-4

/* Padding Top*/
.pt-0
	padding-top: 0

.pt-sm-1
	padding-top: $sm-1

.pt-sm-2
	padding-top: $sm-2

.pt-sm-3
	padding-top: $sm-3

.pt-base
	padding-top: $base

.pt-normal
	padding-top: $normal

.pt-medium
	padding-top: $medium

.pt-md-1
	padding-top: $md-1

.pt-md-2
	padding-top: $md-2

.pt-md-3
	padding-top: $md-3

.pt-md-4
	padding-top: $md-4

.pt-lg-1
	padding-top: $lg-1

.pt-lg-2
	padding-top: $lg-2

.pt-lg-3
	padding-top: $lg-3

.pt-lg-4
	padding-top: $lg-4

.pt-xlg-1
	padding-top: $xlg-1

.pt-xlg-2
	padding-top: $xlg-2

.pt-xlg-3
	padding-top: $xlg-3

.pt-xlg-4
	padding-top: $xlg-4

/* Padding Right*/
.pr-0
	padding-right: 0

.pr-sm-1
	padding-right: $sm-1

.pr-sm-2
	padding-right: $sm-2

.pr-sm-3
	padding-right: $sm-3

.pr-base
	padding-right: $base

.pr-normal
	padding-right: $normal

.pr-medium
	padding-right: $medium

.pr-md-1
	padding-right: $md-1

.pr-md-2
	padding-right: $md-2

.pr-md-3
	padding-right: $md-3

.pr-md-4
	padding-right: $md-4

.pr-lg-1
	padding-right: $lg-1

.pr-lg-2
	padding-right: $lg-2

.pr-lg-3
	padding-right: $lg-3

.pr-lg-4
	padding-right: $lg-4

.pr-xlg-1
	padding-right: $xlg-1

.pr-xlg-2
	padding-right: $xlg-2

.pr-xlg-3
	padding-right: $xlg-3

.pr-xlg-4
	padding-right: $xlg-4

/* Padding Bottom*/
.pb-0
	padding-bottom: 0

.pb-sm-1
	padding-bottom: $sm-1

.pb-sm-2
	padding-bottom: $sm-2

.pb-sm-3
	padding-bottom: $sm-3

.pb-base
	padding-bottom: $base

.pb-normal
	padding-bottom: $normal

.pb-medium
	padding-bottom: $medium

.pb-md-1
	padding-bottom: $md-1

.pb-md-2
	padding-bottom: $md-2

.pb-md-3
	padding-bottom: $md-3

.pb-md-4
	padding-bottom: $md-4

.pb-lg-1
	padding-bottom: $lg-1

.pb-lg-2
	padding-bottom: $lg-2

.pb-lg-3
	padding-bottom: $lg-3

.pb-lg-4
	padding-bottom: $lg-4

.pb-xlg-1
	padding-bottom: $xlg-1

.pb-xlg-2
	padding-bottom: $xlg-2

.pb-xlg-3
	padding-bottom: $xlg-3

.pb-xlg-4
	padding-bottom: $xlg-4

/* Padding Left*/
.pl-0
	padding-left: 0

.pl-sm-1
	padding-left: $sm-1

.pl-sm-2
	padding-left: $sm-2

.pl-sm-3
	padding-left: $sm-3

.pl-base
	padding-left: $base

.pl-normal
	padding-left: $normal

.pl-medium
	padding-left: $medium

.pl-md-1
	padding-left: $md-1

.pl-md-2
	padding-left: $md-2

.pl-md-3
	padding-left: $md-3

.pl-md-4
	padding-left: $md-4

.pl-lg-1
	padding-left: $lg-1

.pl-lg-2
	padding-left: $lg-2

.pl-lg-3
	padding-left: $lg-3

.pl-lg-4
	padding-left: $lg-4

.pl-xlg-1
	padding-left: $xlg-1

.pl-xlg-2
	padding-left: $xlg-2

.pl-xlg-3
	padding-left: $xlg-3

.pl-xlg-4
	padding-left: $xlg-4

/* Margin */
.m-0
	margin: 0

.m-sm-1
	margin: $sm-1

.m-sm-2
	margin: $sm-2

.m-sm-3
	margin: $sm-3

.m-base
	margin: $base

.m-normal
	margin: $normal

.m-medium
	margin: $medium

.m-md-1
	margin: $md-1

.m-md-2
	margin: $md-2

.m-md-3
	margin: $md-3

.m-md-4
	margin: $md-4

.m-lg-1
	margin: $lg-1

.m-lg-2
	margin: $lg-2

.m-lg-3
	margin: $lg-3

.m-lg-4
	margin: $lg-4

.m-xlg-1
	margin: $xlg-1

.m-xlg-2
	margin: $xlg-2

.m-xlg-3
	margin: $xlg-3

.m-xlg-4
	margin: $xlg-4

/* Margin X - Top + Bottom */
.mx-0
	margin-top: 0
  margin-bottom: 0

.mx-sm-1
	margin-top: $sm-1
  margin-bottom: $sm-1

.mx-sm-2
	margin-top: $sm-2
  margin-bottom: $sm-2

.mx-sm-3
	margin-top: $sm-3
  margin-bottom: $sm-3

.mx-base
	margin-top: $base
  margin-bottom: $base

.mx-normal
	margin-top: $normal
  margin-bottom: $normal

.mx-medium
	margin-top: $medium
  margin-bottom: $medium

.mx-md-1
	margin-top: $md-1
  margin-bottom: $md-1

.mx-md-2
	margin-top: $md-2
  margin-bottom: $md-2

.mx-md-3
	margin-top: $md-3
  margin-bottom: $md-3

.mx-md-4
	margin-top: $md-4
  margin-bottom: $md-4

.mx-lg-1
	margin-top: $lg-1
  margin-bottom: $lg-1

.mx-lg-2
	margin-top: $lg-2
  margin-bottom: $lg-2

.mx-lg-3
	margin-top: $lg-3
  margin-bottom: $lg-3

.mx-lg-4
	margin-top: $lg-4
  margin-bottom: $lg-4

.mx-xlg-1
	margin-top: $xlg-1
  margin-bottom: $xlg-1

.mx-xlg-2
	margin-top: $xlg-2
  margin-bottom: $xlg-2

.mx-xlg-3
	margin-top: $xlg-3
  margin-bottom: $xlg-3

.mx-xlg-4
	margin-top: $xlg-4
  margin-bottom: $xlg-4

/* Margin Y - Left + Right */
.my-0
  margin-right: 0
	margin-left: 0

.my-sm-1
  margin-right: $sm-1
	margin-left: $sm-1

.my-sm-2
  margin-right: $sm-2
	margin-left: $sm-2

.my-sm-3
  margin-right: $sm-3
	margin-left: $sm-3

.my-base
  margin-right: $base
	margin-left: $base

.my-normal
  margin-right: $normal
	margin-left: $normal

.my-medium
  margin-right: $medium
	margin-left: $medium

.my-md-1
  margin-right: $md-1
	margin-left: $md-1

.my-md-2
  margin-right: $md-2
	margin-left: $md-2

.my-md-3
  margin-right: $md-3
	margin-left: $md-3

.my-md-4
  margin-right: $md-4
	margin-left: $md-4

.my-lg-1
  margin-right: $lg-1
	margin-left: $lg-1

.my-lg-2
  margin-right: $lg-2
	margin-left: $lg-2

.my-lg-3
  margin-right: $lg-3
	margin-left: $lg-3

.my-lg-4
  margin-right: $lg-4
	margin-left: $lg-4

.my-xlg-1
  margin-right: $xlg-1
	margin-left: $xlg-1

.my-xlg-2
  margin-right: $xlg-2
	margin-left: $xlg-2

.my-xlg-3
  margin-right: $xlg-3
	margin-left: $xlg-3

.my-xlg-4
  margin-right: $xlg-4
	margin-left: $xlg-4

/* Margin Top*/
.mt-0
	margin-top: 0

.mt-sm-1
	margin-top: $sm-1

.mt-sm-2
	margin-top: $sm-2

.mt-sm-3
	margin-top: $sm-3

.mt-base
	margin-top: $base

.mt-normal
	margin-top: $normal

.mt-medium
	margin-top: $medium

.mt-md-1
	margin-top: $md-1

.mt-md-2
	margin-top: $md-2

.mt-md-3
	margin-top: $md-3

.mt-md-4
	margin-top: $md-4

.mt-lg-1
	margin-top: $lg-1

.mt-lg-2
	margin-top: $lg-2

.mt-lg-3
	margin-top: $lg-3

.mt-lg-4
	margin-top: $lg-4

.mt-xlg-1
	margin-top: $xlg-1

.mt-xlg-2
	margin-top: $xlg-2

.mt-xlg-3
	margin-top: $xlg-3

.mt-xlg-4
	margin-top: $xlg-4

/* Margin Right*/
.mr-0
	margin-right: 0

.mr-sm-1
	margin-right: $sm-1

.mr-sm-2
	margin-right: $sm-2

.mr-sm-3
	margin-right: $sm-3

.mr-base
	margin-right: $base

.mr-normal
	margin-right: $normal

.mr-medium
	margin-right: $medium

.mr-md-1
	margin-right: $md-1

.mr-md-2
	margin-right: $md-2

.mr-md-3
	margin-right: $md-3

.mr-md-4
	margin-right: $md-4

.mr-lg-1
	margin-right: $lg-1

.mr-lg-2
	margin-right: $lg-2

.mr-lg-3
	margin-right: $lg-3

.mr-lg-4
	margin-right: $lg-4

.mr-xlg-1
	margin-right: $xlg-1

.mr-xlg-2
	margin-right: $xlg-2

.mr-xlg-3
	margin-right: $xlg-3

.mr-xlg-4
	margin-right: $xlg-4

/* Margin Bottom*/
.mb-0
	margin-bottom: 0

.mb-sm-1
	margin-bottom: $sm-1

.mb-sm-2
	margin-bottom: $sm-2

.mb-sm-3
	margin-bottom: $sm-3

.mb-base
	margin-bottom: $base

.mb-normal
	margin-bottom: $normal

.mb-medium
	margin-bottom: $medium

.mb-md-1
	margin-bottom: $md-1

.mb-md-2
	margin-bottom: $md-2

.mb-md-3
	margin-bottom: $md-3

.mb-md-4
	margin-bottom: $md-4

.mb-lg-1
	margin-bottom: $lg-1

.mb-lg-2
	margin-bottom: $lg-2

.mb-lg-3
	margin-bottom: $lg-3

.mb-lg-4
	margin-bottom: $lg-4

.mb-xlg-1
	margin-bottom: $xlg-1

.mb-xlg-2
	margin-bottom: $xlg-2

.mb-xlg-3
	margin-bottom: $xlg-3

.mb-xlg-4
	margin-bottom: $xlg-4

/* Margin Left*/
.ml-0
	margin-left: 0

.ml-sm-1
	margin-left: $sm-1

.ml-sm-2
	margin-left: $sm-2

.ml-sm-3
	margin-left: $sm-3

.ml-base
	margin-left: $base

.ml-normal
	margin-left: $normal

.ml-medium
	margin-left: $medium

.ml-md-1
	margin-left: $md-1

.ml-md-2
	margin-left: $md-2

.ml-md-3
	margin-left: $md-3

.ml-md-4
	margin-left: $md-4

.ml-lg-1
	margin-left: $lg-1

.ml-lg-2
	margin-left: $lg-2

.ml-lg-3
	margin-left: $lg-3

.ml-lg-4
	margin-left: $lg-4

.ml-xlg-1
	margin-left: $xlg-1

.ml-xlg-2
	margin-left: $xlg-2

.ml-xlg-3
	margin-left: $xlg-3

.ml-xlg-4
	margin-left: $xlg-4