h1,
h2,
h3,
h4 
  margin-bottom: $normal
  font-weight: 700
  font-style: normal
  font-family: $family-primary

h1,
.h1 
  font-size: $x-medium
  line-height: 1.2

  +respond-to('large')
    font-size: $large
h2,
.h2 
  font-size: $medium
  font-size: $x-medium
  line-height: 1.2

  +respond-to('large') 
  
h3,
.h3
  font-size: $bigger
  font-size: $medium
  line-height: 1.5

  +respond-to('large') 
  
h4,
.h4
  font-size: $normal
  font-size: $bigger  
  line-height: 1.5

  +respond-to('large') 

p 
  margin-bottom: $normal

.subtitle 
  margin-bottom: $xs
  color: $text
  text-transform: uppercase
  font-weight: $weight-normal
  font-size: $sm
  line-height: 1

/* Text Size */
.text-xs 
  font-size: $xs

.text-sm 
  font-size: $sm

.text-base 
  font-size: $base

.text-normal 
  font-size: $normal

.text-bigger 
  font-size: $bigger

.text-medium 
  font-size: $medium

.text-x-medium 
  font-size: $x-medium

.text-large 
  font-size: $large

.text-larger 
  font-size: $larger

.text-x-large 
  font-size: $x-large

