[class^="col-"] {
  position: relative;
  grid-column: auto / span 12;

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.space {
    padding: 2em 0;
  }

  // Paragraphs in container split into 2 columns
  &.two-col {
  column-count: 1;

    @include breakpoint(tablet) {
      column-count: 1;
    }

    @include breakpoint(laptop) {
      column-count: 2;
    }
  }

  // Paragraphs in container split into 3 columns
  &.three-col {
    column-count: 1;

    @include breakpoint(tablet) {
      column-count: 2;
    }

    @include breakpoint(laptop) {
      column-count: 3;
    }
  }

  img, iframe {
    max-width: 100%;
  }
}

.row,
.sub-row {
  @for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: auto / span $i;
      display: block;
    }

    .col-0 {
      display: none;
    }
  }
}

// col-t-1 through col-t-12 column classes for tablet
@include breakpoint(tablet) {
  .row,
  .sub-row {
    @for $s from 1 through 12 {
      @for $i from 1 through 12 {
        .col-t-#{$i} {
          grid-column: auto / span $i;
          display: block;
        }

        .col-t-#{$s}-#{$i} {
          grid-column: ($s + 1) / span $i;
          display: block;
        }

        .col-t-0 {
          display: none;
        }
      }
    }
  }
}

// col-l-1 through col-l-12 column classes for laptop
@include breakpoint(laptop) {
  .row, .sub-row {
    @for $s from 1 through 12 {
      @for $i from 1 through 12 {
        .col-l-#{$i} {
          grid-column: auto / span $i;
          display: block;
        }

        .col-l-#{$s}-#{$i} {
          grid-column: ($s + 1) / span $i;
          display: block;
        }

        .col-l-0 {
          display: none;
        }
      }
    }
  }
}

// col-d-1 through col-d-12 for default desktop
@include breakpoint(desktop) {
  .row,
  .sub-row {
    @for $s from 1 through 12 {
      @for $i from 1 through 12 {
        .col-d-#{$i} {
          grid-column: auto / span $i;
          display: block;
        }

        .col-d-#{$s}-#{$i} {
          grid-column: ($s + 1) / span $i;
          display: block;
        }

        .col-d-0 {
          display: none;
        }
      }
    }
  }
}
