.hero,
h1,
h2,
h3,
h4 {
  margin-bottom: $md;
  font-weight: $weight-bold;
  font-style: normal;
  font-family: $family-primary;
}

.hero {
  line-height: 1.2;

  @include fluid-font(3vw, 3.433rem, 3.75rem, 48px);
}

h1,
.h1 {
  line-height: 1.2;

  @include fluid-font(3vw, 2.746rem, 3.433rem, 38px);
}
h2,
.h2 {
  line-height: 1.2;

  @include fluid-font(3vw, 2.197rem, 2.746rem, 31px);
}
h3,
.h3 {
  line-height: 1.5;

  @include fluid-font(3vw, 1.758rem, 2.197rem, 25px);
}
h4,
.h4 {
  line-height: 1.5;

  @include fluid-font(3vw, 1.406rem, 1.758rem, 20px);
}
p {
  margin-bottom: $md;
  font-weight: $weight-normal;
  font-style: normal;
  font-family: $family-primary;
  line-height: 1.5;

  @include fluid-font(3vw, 1.250rem, 1.406rem, 18px);	
}
.small {
  margin-bottom: $md;
  font-weight: $weight-normal;
  font-style: normal;
  font-family: $family-primary;
  line-height: 1.5;

  @include fluid-font(3vw, 1rem, 0.8rem, 12.80px);
}