.hero,
h1,
h2,
h3,
h4 {
  margin-bottom: $md;
  font-weight: $weight-bold;
  font-style: normal;
  font-family: $family-primary;
}

.hero {
  line-height: 1.25;

  @include fluid-font(3vw, 3.433rem, 4.292rem, 54.932px);
}

h1,
.h1 {
  line-height: 1.25;

  @include fluid-font(3vw, 2.747rem, 3.433rem, 43.945px);
}
h2,
.h2 {
  line-height: 1.25;

  @include fluid-font(3vw, 2.197rem, 2.747rem, 35.156px);
}
h3,
.h3 {
  line-height: 1.25;

  @include fluid-font(3vw, 1.758rem, 2.197rem, 28.125px);
}
h4,
.h4 {
  line-height: 1.25;

  @include fluid-font(3vw, 1.406rem, 1.758rem, 22.5px);
}
p {
  margin-bottom: $md;
  font-weight: $weight-normal;
  font-style: normal;
  font-family: $family-primary;
  line-height: 1.5;

  @include fluid-font(3vw, 1.125rem, 1.406rem, 18px);	
}
.small {
  margin-bottom: $md;
  font-weight: $weight-normal;
  font-style: normal;
  font-family: $family-primary;
  line-height: 1.5;

  @include fluid-font(3vw, 0.738rem, 0.922rem, 11.8px);
}