// BREAKPOINTS //

$mobile: 599px;
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$lg-desktop: 1600px;

$breakpoints: (
  mobile: $mobile,
  tablet-portrait: $tablet-portrait,
  tablet-landscape: $tablet-landscape,
  desktop: $desktop,
  lg-desktop: $lg-desktop,
);

// COLOURS //

$black:           hsl(0, 0%, 4%);
$black-bis:       hsl(0, 0%, 7%);
$black-ter:       hsl(0, 0%, 14%);

$grey-darker:     hsl(0, 0%, 21%);
$grey-dark:       hsl(0, 0%, 29%);
$grey:            hsl(0, 0%, 48%);
$grey-light:      hsl(0, 0%, 71%);
$grey-lighter:    hsl(0, 0%, 86%);
$grey-lightest:   hsl(0, 0%, 93%);

$white-ter:       hsl(0, 0%, 96%);
$white-bis:       hsl(0, 0%, 98%);
$white:           hsl(0, 0%, 100%);

$primary-100:     #FDEBEF;
$primary-200:     #F9CCD8;
$primary-300:     #F5AEC0;
$primary-400:     #EE7191;
$primary:         #E63462;
$primary-600:     #CF2F58;
$primary-700:     #8A1F3B;
$primary-800:     #68172C;
$primary-900:     #45101D;

// Base Colours
$background-color: $white-bis;
$body-colour: $white;
$link: $primary;
$link-hover: $primary-700;
$text: $black;
$code: $black;

// FONTS //

// font-family: 'Poppins', sans-serif
// font-weight: 300 (light), 400 (regular), 500 (medium), 700 (bold)
// font-style: normal

$family-primary: "Helvetica Neue", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;

// $family-secondary:
$family-monospace: monospace;
$render-mode: optimizeLegibility;

$weight-light:    300;
$weight-normal:   400;
$weight-medium:   500;
$weight-semibold: 600;
$weight-bold:     700;


// SPACING //

$base:    1em;                      // 16px
$xxs:     calc(0.25 * #{$base});    // 4px
$xs:      calc(0.5  * #{$base});    // 8px
$sm:      calc(0.75 * #{$base});    // 12px
$md:      calc(1.25 * #{$base});    // 20px
$lg:      calc(2    * #{$base});    // 32px
$xl:      calc(3.25 * #{$base});    // 52px
$xxl:     calc(5.25 * #{$base});    // 84px

// ANIMATIONS //

$transition-duration: 0.3s;
$easing: cubic-bezier(0.23, 1, 0.32, 1);