// CLEARFIX //
@mixin clearfix() {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

// OVERFLOW //
@mixin overflow-touch {
  -webkit-overflow-scrolling: touch;
}

// TRANSITION
@mixin transition {
  transition-duration: .4s;
  transition-timing-function: ease;
}
