
// Start at Col 1
.col-1-s4 {
  grid-column: col-start 1 / span 4;
}

.col-1-s12 {
  grid-column: col-start 1 / span 12;
}
// Start at Col 2

.col-2-s4 {
  grid-column: col-start 2 / span 4;
}

.col-2-s5 {
  grid-column: col-start 2 / span 5;
}

.col-2-s6 {
  grid-column: col-start 2 / span 6;
}

.col-2-s10 {
  grid-column: col-start 2 / span 10;
}

// Start at Col 3
.col-3-s4 {
  grid-column: col-start 3 / span 4;
}

.col-3-s6 {
  grid-column: col-start 3 / span 6;
}

.col-3-s8 {
  grid-column: col-start 3 / span 8;
}

// Start at Col 4

.col-4-s6 {
  grid-column: col-start 4 / span 6;
}

// Start at Col 5
.col-5-s3 {
  grid-column: col-start 5 / span 3;
}

.col-5-s5 {
  grid-column: col-start 5 / span 5;
}

// Start at Col 7
.col-7-s4 {
  grid-column: col-start 7 / span 4;
}

.col-7-s5 {
  grid-column: col-start 7 / span 5;
}

// Start at Col 8

.col-8-s4 {
  grid-column: col-start 8 / span 4;
}

.col-8-s5 {
  grid-column: col-start 8 / span 5;
}

// Start at Col 9

.col-9-s3 {
  grid-column: col-start 9 / span 3;
}

.col-9-s4 {
  grid-column: col-start 9 / span 4;
}

// Start at Col 10
.col-10-s3 {
  grid-column: col-start 10 / span 3;
}
